/* Basic styles that will be applied to every page */

.PhoneList {
  background: #eee;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0 0;
}

.PhoneLink {
  text-decoration: none;
}

.Phone {
  align-items: center;
  background: #ddd url('../assets/cellphone.svg') no-repeat center center;
  border: 1px solid #ddd;
  background-size: 2.5rem;
  color: rgb(13, 29, 0);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  justify-content: space-between;
  height: 9rem;
  margin: 0 0 2rem 2rem;
  padding: 0.5rem 0;
  width: 9rem;
}
  .Phone:hover {
    background-color: #eee;
    transition: all 150ms;
  }
